.about-section {
  position: relative;
  height: 260vh;
  background-color: #000000;
  /* var(--color-background) */
}

.sticky-container {
  position: sticky;
  top: 0;
  height: 100vh;
  width: 100%;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
}

.title-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  transform-origin: center center;
  margin-bottom: 120px;
}

.main-title {
  font-family: 'Bruno Ace', sans-serif;
  font-size: 70px;
  font-weight: 400;
  line-height: 1;
  color: #808080;
  margin: 0;
}

.main-title span {
  color: #ffffff;
  /* var(--color-white) */
}

.big-title {
  font-family: 'Clash Display', sans-serif;
  font-size: 300px;
  line-height: 1;
  font-weight: 400;
  color: #ffffff;
  /* var(--color-white) */
  margin-top: -20px;
}

.image-container {
  position: absolute;
  top: 20px;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 2;
  pointer-events: none;
}

.image-wrapper {
  width: 55vw;
  max-width: 800px;
  height: 600px;
  border-radius: 20px;
  overflow: hidden;
  transform-origin: center center;
}

.about-image {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.content-container {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 70vh;
  display: flex;
  align-items: bottom;
  justify-content: center;
  z-index: 3;
  pointer-events: none;
}

.content {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 40px;
  max-width: 925px;
  text-align: center;
  padding: 0 20px;
  pointer-events: auto;
}

.content-title {
  font-family: 'Clash Display', sans-serif;
  font-size: 24px;
  font-weight: 600;
  text-transform: uppercase;
  color: #ffffff;
  /* var(--color-white) */
  line-height: 1.2;
  margin: 0;
}

.content-text {
  font-family: 'Poppins', sans-serif;
  font-size: 18px;
  font-weight: 500;
  color: #808080;
  line-height: 1.3;
  margin: 0;
}

@media (max-width: 810px) {
  .about-section {
    height: 250vh;
  }

  .main-title {
    font-size: 44px;
  }

  .big-title {
    font-size: 150px;
  }

  .image-wrapper {
    height: 480px;
    width: 80vw;
  }

  .content-title {
    font-size: 20px;
  }

  .content-text {
    font-size: 16px;
  }
}